# MariaDB Ubuntu {{ ansible_distribution_release | title }} repository list
# https://mariadb.org/download/
deb https://mirrors.ircam.fr/pub/mariadb/repo/{{ mariadb_version }}/ubuntu {{ ansible_distribution_release | lower }} main
deb-src https://mirrors.ircam.fr/pub/mariadb/repo/{{ mariadb_version }}/ubuntu {{ ansible_distribution_release | lower }} main